@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}
@media (max-width: 1024px) {  /* Adjust if your tablet breakpoint is different */
  .desktop-nav {
    display: none;
  }
}

/* Scrolling logo ribbon animation */
@keyframes scroll-ribbon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-ribbon {
  animation: scroll-ribbon 30s linear infinite;
}

.animate-scroll-ribbon:hover {
  animation-play-state: paused;
}